$activeColor: #f5b535;

$activeColor: rgb(250, 204, 21);

$activeColor: #faedcd;

$activeColor: #ccd5ae;

$activeColor: #ffef82;

$activeColor: #efd345;

$activeColor: #f5b535;

$activeColor: #0b21eb;

$activeColor: #091dd1;
