@import "./Components/scss/Colors";

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(225 225 225);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $activeColor;
  transition: 1s;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($activeColor, 0.8);
}

.title {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 20px;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $activeColor;
    transition: all;
    transition: 0.3s;
  }
  &:hover::after {
    width: 100%;
  }
}
